.editable.view

  span:first-of-type
    &:hover + span
      // margin-left: 2.5px
      visibility: visible

  & .icon
    margin-left: 2.5px

    // margin-left: 1.5px
    visibility: hidden
    transition: all .2s ease-out

.lead-page
  margin-top: 15px
  .col-xs-12
    background: #fff

// lead details page

.lead-details
  margin-top: 15px

.padded
  padding: 10px

.editable-field-container
  minWidth: 150
  display: inline-block
  margin: 0
  width: 100%
  padding: 5
  fontSize: 15
  outline: 0
  border: 0

.lead-field
  margin-bottom: 12px

  label
    margin: 0
    font-weight: bold

  & > div
    padding-left: 5px
    color: #4e7b9d

  .edit
    .form-control
      display: inline-block
      width: 66%
      color: black

    i
      margin: 2px 5px
    
      &:hover
        cursor: pointer

    .fa-times
      color: red

    .fa-check
      color: green

    #error-validation
      color: red
      display: block

// .lead-top-bar
//   height: 40px
//   margin: 5px


.lead-container
  margin: 10px auto

.lead-container-box
  margin: 10px auto
  border: 1px solid lightgrey
  padding: 15px
  background: #fbfafa

.editable-textarea

    i
      margin: 2px 5px
    
      &:hover
        cursor: pointer

    .fa-times
      color: red

    .fa-check
      color: green

    #error-validation
      color: red
      display: block

.error-input
  border: 1px solid red
  &:focus
    border: 1px solid red
    box-shadow: 0 0 10px red

#budget-editable, #unit-value-editable
 label
    display: block

 .editable
    display: inline-block

  