/*@import '/node_modules/bootstrap/dist/css/bootstrap.css';*/
/*@import '/node_modules/font-awesome/css/font-awesome.css';*/

/*shared*/
html, body{
    width:100%;
    height: 100%;
}

body{
    background: #ecf0f1
}

#app {
    height: 100%;
}

#app .routes-container {
  height: 100%;
}

textarea {
  resize: vertical;
}

.nopadding{
    padding: 0 !important;
}
.nopadding-horizontal{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.clearfix{
    clear: both;
}

.navbar.navbar-default {
  margin: 0;
}
.navbar-brand {
  padding: 8px;
  margin: 2px;
}
/*.navbar-brand
.navbar-brand {
    padding: 8px 0;
    height: auto;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}*/

.container{
    background: white;
    box-shadow: 0px 0px 12px 1px lightgrey;
    padding: 10px 30px;
    padding-bottom: 30px;
    margin-bottom: 30px
}

/*Leads component*/
#leads-table .fa-caret-up, #leads-table .fa-caret-down, #leads-table .fa-sort{
    margin-left: 10px;
    height: 150%;
}
#leads-table .fa-caret-up:hover, #leads-table .fa-caret-down:hover, #leads-table .fa-sort:hover{
    cursor: pointer;
}
#leads-table .fa-caret-up{
    position: relative;
    bottom: 5px;
}

#leads-table button{
    margin-left: 5px;
}
.deleted{
    background-color: #c0392b !important ;
}

.lead-component.deleted:hover{
    background-color: #e74c3c !important ;
}

.egp-currency:before{
    content: "EGP";
   font-weight:800;
   font-style: normal;
   font-family: monospace;
}



#filter-drop-down{
    width:100%;
    background-color: darkgray;
    color:white;
}
.filter-leads .col-md-8{
    margin-right:0;
    padding-right:0;
}
.filter-leads .col-md-4{
    margin-left:0;
    padding-left:0;
}
.budget-group, .unit-value-group{
    margin-top:5px;
    padding: 0
}
.budget-group input, .unit-value-group input{
    height: 26px;
    margin-bottom: 5px;
}
.currency-dropdown{
    height: 26px;
    background-color: #2980b9;
    color: white;
}
.filter-date{
    display: inline-block;
}
#datepic .fa-calendar, #reportrangeDateOftrans .fa-calendar{
    vertical-align: top;
    position: relative;
    top: 1px;
} 
#datepic , #reportrangeDateOftrans {
    margin-top: 5px;
} 
#datepic a:hover, #reportrangeDateOftrans a:hover{
    cursor: pointer;
    text-decoration: none;
} 
.currency-dropdown{
    padding: 0
}
.filter-leads .custom-checkbox{
    margin-left:10px;
    padding-top: 10px;
}
.budget-group::before, .unit-value-group::before{
    width: 4px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-right: none;
    content: '';
    position: absolute;
    top: 8px;
    margin-top: 1px;
    left: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.filter-leads .best-time{
    margin-top: 25px;
}
.pagination>li>a:hover{
    cursor: pointer;
}
/*end of leads component*/

/*Lead component*/
.lead-component i{
    margin-right:5px;
    
}
.lead-component:hover{
    cursor: pointer;
    background-color: lightgray;
}
.lead-component .fa-phone{
    margin-top:20px;
}
.lead-component span.alert{
    padding: 5px;
}

/*AddLead component*/
.add-lead {
  margin-top: 15px;
}
#add-new-lead-form .input-group{
    padding-right: 20px;
    margin-top:20px;
}


#add-customer-button{
    margin-top:30px;
    margin-bottom: 30px;
}
.add-lead-success{
    height: 70px;
    position: fixed;
    top: 150px;
    left: 20%;
    z-index: 4;
    width: 60%;
    opacity: 0.8;
    font-size: 2em;
    text-align: center;
}

/*login page*/
#login-page{
    width: 100%;
    height:100%;
    background-color: #ecf0f1;
    position: fixed;
}
.login-container{
    width:45%;
    margin:0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px lightgrey;
    /*border:1px solid #e7eaec;*/
}
.login-container .input-group {
    margin: 10px auto;
}

.login-text{
    font-size: 23px;
    font-weight: 700 ;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 25px;
}
.login-field-container{
    width: 50%;
}

.login-field-container input{
    height: 35px
}

.login-field-container:last-child{
    margin-bottom: 40px;
}

/*AddAlert component*/
#alerts-container{
    clear: both;
    padding: 1px 25px;
    margin-top:20px;
    background-color: #ecf0f1;
    border-radius: 10px;
}
#alert-add{
    border-bottom: 1px solid gray;
    padding-bottom:20px;
    margin-bottom: 20px;
}
#alerts-container .custom-checkbox{
    padding-top: 0;
}

.editable-fields-container * {
  display: inline-block;
}

.editable-fields-container button {
  width: 15%;
  margin: 2px;
}
.editable-fields-container input {
  width: 66%;
}
.custom-checkbox{
    display: inline-block;
    margin-left: 50px;
    padding-top: 22px;
}
.custom-checkbox > [type="checkbox"],
.custom-checkbox > label{
    margin-bottom:0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0;
    top: 50%;
    margin-top:-9px;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 50%;
    margin-top:-7px;
    left: 2px;
    color: #94C947;
    xtransition: all .2s;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    background-color: #eeeeee;
    border-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
    color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
    color: #dadada; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
    color: #aaa; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.custom-checkbox > label:hover:before {
    border: 1px solid #88D2FF !important;
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
    border: 1px solid #E4E4E4 !important;
}

#add-new-lead-form .label{
    font-size: 100%;
}
#add-new-lead-form .input-group-btn{
    position: relative;
    top: 12px;
}
#cancel-btn{
    margin-left:10px;
}
.add-cancel-buttons{
    margin-top: 20px;
}

#successful-add-alert{
    position:relative;
    top: 100px;
}

.cooing-navbar {
    background: #1E4164;
    padding: 5px 15px;
    vertical-align: middle;
}

/*header .navbar .navbar-header {
    float: none!important;
    background: #1E4164;
    height: 60px;
    padding: 12px 15px;
    vertical-align: middle;*/

.cooing-navbar a{
    color: #fff !important;
    font-weight: 500 !important;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px !important;
    line-height: 1.4 !important;
}

.assign-btn {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

}

/*custom style for select menu*/
.Select{
    z-index: 3;
}

/*********/

.custom-alert{
    padding: 5px
}

/*comments styles*/
#comment-container{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 0 25px;
}
#comments-container{
    clear: both;
    padding: 20px;
}
#comment-date{
    margin-left: 20px;
    color: grey;
}
#comment-user{
    color: blue;
}
#comment-delete{
    float: right;
}

/*end of comments styles*/

/*table options*/
#table-options{
    margin-bottom: -480px;
    position: relative;
    padding: 10px;
    border: 2px solid lightgray;
    background: white;
    width:250px;
    z-index: 1;
    /*animation-name: optionsExpand;
    animation-duration: .3s;*/

}
/*@keyframes optionsExpand {
    from {width:0; height:0}
    to {width: 250px; height: 370px;}
}*/
#table-options ul{
    list-style: none;
}
#table-options .custom-checkbox{
    display: block;
    margin-left: 0;
    padding-top: 5px;
}

/*end of table options*/


/*date-range-picker*/
/*.daterangepicker .ranges ul li:hover{
    cursor: pointer;
    background-color: lightgray;
}

.daterangepicker .table-condensed td.available:hover{
    cursor: pointer;
    background-color: lightgray;
}*/


.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */ }
  .daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc; }
  .daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent; }
  .daterangepicker.opensleft:before {
    right: 9px; }
  .daterangepicker.opensleft:after {
    right: 10px; }
  .daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.opensright:before {
    left: 9px; }
  .daterangepicker.opensright:after {
    left: 10px; }
  .daterangepicker.dropup {
    margin-top: -5px; }
    .daterangepicker.dropup:before {
      top: initial;
      bottom: -7px;
      border-bottom: initial;
      border-top: 7px solid #ccc; }
    .daterangepicker.dropup:after {
      top: initial;
      bottom: -6px;
      border-bottom: initial;
      border-top: 6px solid #fff; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
    .daterangepicker .calendar.single .calendar-table {
      border: none; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 32px; }
  .daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #eee;
      border-color: transparent;
      color: inherit; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #fff;
    border-color: transparent;
    color: #999; }
  .daterangepicker td.in-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0; }
  .daterangepicker td.start-date {
    border-radius: 4px 0 0 4px; }
  .daterangepicker td.end-date {
    border-radius: 0 4px 4px 0; }
  .daterangepicker td.start-date.end-date {
    border-radius: 4px; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #08c;
      border-radius: 4px; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px; }
  .daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
    .ranges li:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }
    .ranges li.active {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .calendar.left {
        clear: left;
        margin-right: 0; }
        .daterangepicker.ltr .calendar.left .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.ltr .calendar.right {
        margin-left: 0; }
        .daterangepicker.ltr .calendar.right .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.ltr .left .daterangepicker_input {
        padding-right: 12px; }
      .daterangepicker.ltr .calendar.left .calendar-table {
        padding-right: 12px; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .left .daterangepicker_input {
        padding-left: 12px; }
      .daterangepicker.rtl .calendar.left .calendar-table {
        padding-left: 12px; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
        text-align: right;
        float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .calendar.left {
    clear: none !important; } }

