.conatiner-fluid.login-page

  & .caption
    // position: absolute
    // top: 0
    // left: 0
    // bottom: 0
    // right: 0
    margin-top: 10em
    // height: 300px

    & .col-xs-10
      background-color: #ffffff
      padding: 50px
